node_modules
dist
.DS_Store
.env
.cursor
.agents

# Ignore the output video from Git but not videos you import into src/.
out
# Ignore any .mp4 files under the public directory (any subfolder)
public/**/*.mp4

# Ignore raw and render folders
raw/
renders/

